
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>AddCategory</title>
</head>
<body>
    <div> 
        
    </div>
    <form class="form-group" method="post">
        <input type="text" placeholder="Lütfen bir şeyler yazınız : " class="form-control" name="CategoryName" />
        <br />
        <button class="btn-light">Ekle</button>
    </form>
</body>
</html>
