@model EntityLayer.Concrete.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>AddCategory</title>
</head>
<body>
  @* hangi action, hangi controller, hangi metodda çalışacak *@
 @using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
 {
     <div class="form-group">

     </div>
 }
    @*<form class="form-group" method="post">
        <input type="text" placeholder="Lütfen bir şeyler yazınız : " class="form-control" name="CategoryName" />
        <br />
        <button class="btn-light">Ekle</button>
    </form>*@
</body>
</html>
