@using EntityLayer.Concrete
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>GetCategoryList</title>
</head>
<body>
    <div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
        </tr>
        @foreach (var i in Model)
        {
        <tr>
            <td>@i.CategoryID</td>
            <td>@i.CategoryName</td>
        </tr>
        }
    </table>
    <br />
    <a href="/Category/AddCategory" class="btn-info">Yeni Kategori Ekle</a>
</body>
</html>
