
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategoriler</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <br />
        <h3 style="text-align: center; color: darkmagenta">Kategori İşlemleri</h3>
        <br />
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Departman</th>
            <th>Eylemler</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ayse</td>
            <td>Bilmiyor</td>
            <td>IT</td>
            <td>
                <button class="btn-info">Güncelle</button>
                <button class="btn-danger">Sil</button>
            </td>
        </tr>
    </table>
</body>
</html>
