
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Departman</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ayse</td>
            <td>Bilmiyor</td>
            <td>IT</td>
        </tr>
    </table>
</body>
</html>
